.loder{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 20px solid #ebe01e;
    border-top: 20px solid #32a89d;
    animation: spin 1s ease-in 0s infinite normal;
    
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}