

#navbar{
    height: 60px;
    color: white;
    background-color: #0f1111;
    border-style:outset;
    border-width: 8px;
    border-color: #f08804;
}
#logo{
    font-size: 25px;
    color: ;
}
button{
    background-color: #f08804;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
h1{
    text-align: center;
    font-size: 50px;
}
#Signal{
    width: 200px;
    height: 400px;
    background-color: darkgray;
    text-align: center;
    border-left: 400px;
    border-radius: 10px;
    margin-left: 660px;

}
#first{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 5px double darkgrey;
    border-radius: 50%;
    padding: 5px;
    margin-left: 40px;
}
#second{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 5px double darkgrey;
    border-radius: 50%;
    padding: 5px;
    margin-left:  40px;
}
#third{
    width: 100px;
    height: 100px;
    background-color: green;
    border: 5px double darkgrey;
    border-radius: 50%;
    padding: 5px;
    margin-left:  40px;
}