div{
    display: inline-block;
}

#box1{
    width: 100px;
    height: 100px;
    background-color: pink;
    position: static;
    /* To upper frem box  */
    z-index: 1;
    
}

#box2{
    width: 100px;
    height: 100px;
    background-color: rgb(113, 224, 73);
    position: relative;
    
}
#box3{
    width: 100px;
    height: 100px;
    background-color: rgb(61, 200, 218);
    position: fixed;
    left: 100px;
    z-index: 1;
    
}
#box4{
    width: 100px;
    height: 100px;
    background-color: rgb(108, 31, 175);
    position: sticky;
    /* To lower frem box  */
    z-index: 0;
    
    
}
#box5{
    width: 100px;
    height: 100px;
    background-color: rgb(173, 21, 130);
    position: static;
    /* To upper frem box  */
    z-index: 1;
}